<div class="text-center">
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key, alt: @list.name, width: 700, crop: :fill, class: "img-fluid" %>
  <% end %>
</div>

<div class="container">
  <div class="show-margin">
    <h1><%= @list.name.capitalize %> list</h1>
    <%= link_to "New bookmark", new_list_bookmark_path(@list) %> |
    <%= link_to "Back to home", lists_path %>

    <div class="flex-container">
    <% @list.movies.each_with_index do |movie, index| %>

      <div class="card-movie">
        <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
        <%= image_tag movie.poster_url, alt: movie.title, width: 200 %>
        <div class="card-movie-infos">
          <div>
            <h2><%= movie.title %></h2>
            <%= link_to 'Delete', bookmark_path(@list.movies[index].bookmarks.ids), method: :delete, data: { confirm: 'Are you sure?' } %>
            <p><%= movie.overview %> (<%= movie.rating %>)</p>
            <h3>Comments:</h3>
            <p class="box-comment"><%= movie.bookmarks[0].comment %></p>
          </div>
        </div>
      </div>

    <% end %>




    </div>

  </div>

</div>
